*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background-color: black;
   display: flex;
    justify-content: center;
    justify-items: center;
   
}
h1{
    position: absolute;
    width: 200px;
    height: 400px;
   margin: auto;
   padding-top: 100px;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
    color: rgb(206, 145, 65);
}

.logo{
    background-image: url(photo.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    position: fixed;
    left: 20px;
      width: 100px;
        height: 70px;
  }
  .navbar{
    background-color: black;
    width: 600px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: auto;
    position: fixed;
  }
  .navbar-menu a {
   
    display: flex;
    font-size: 19px;
    color: rgba(243, 231, 215, 0.875);
    font-family: "Raleway", sans-serif;
    font-weight: 70;
    padding: 15px 17px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
  }
  .navbar-menu a:hover {
    background-color: #d1c9b0;
    color: #342908;
    cursor: pointer;
  }
  .icon{
    background-image: url(expresso.png);
    background-size: 70px;
    background-repeat: no-repeat;
    position: absolute;
    left: 90px;
      width: 200px;
        height: 100px;
  }
  h5{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    top:70px;
  left:-50px;
  }
section{
    display: flex;
    justify-content: center;
    justify-items: center;
    border: #ddc57d 2px solid;
    width: 250px;
    height: 250px;
    color: aliceblue;
    position: absolute;
    left: 200px;
    top: 180px;
}
section::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width:0;
  height: 0;
  transition: width 1s , height 1s;
  opacity: 0;
  background-color: rgb(206, 145, 65);
}
section:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.p{
    text-align: center;
position: absolute;
top: 120px;
right: 80px;
width: 270px;
font-size: 20px;
}
h6{
    text-align: center;
    position: absolute;
    top: 125px;
    right: 20px;
    width: 250px;
    font-size: 15px;
    text-decoration: line-through;
}
button{
    background-color:rgb(211, 168, 112) ;
    width: 90px;
    height: 20px;
position: absolute;
bottom: 20px;

}
/*end border */
.icon1{
    background-image: url(latte-art.png);
    background-size: 70px;
    background-repeat: no-repeat;
    position: absolute;
    left: 90px;
      width: 200px;
        height: 100px;
  }
  .h{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: absolute;
   top: 70px;
   right:70px;
  }
  .section1{
    display: flex;
    justify-content: center;
    justify-items: center;
    border:  #ddc57d 2px solid;
    width: 250px;
    height: 250px;
    color: aliceblue;
    position: absolute;
    left: 500px;
    top: 180px;
}
.section1::after{
    content: '';
    position: absolute;
    right:0;
    top: 0;
    width: 0;
    height: 0;
    transition: width 1s , height 1s;
    opacity: 0;
    background-color: rgb(206, 145, 65);
}
.section1:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.p1{
    text-align: center;
position: absolute;
width: 200px;
top:  125px;
right:  120px;
font-size: 20px;
}
.h6{
    text-align: center;
    position: absolute;
   top: 130px;
   right: 10px;
    width: 270px;
    font-size: 15px;
    text-decoration: line-through;
}
/*end border2*/
.icon2{
  background-image: url(ice-coffee.png);
  background-size: 70px;
  background-repeat: no-repeat;
  position: absolute;
  left: 100px;
    width: 200px;
      height: 100px;
}
.h1{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
  position: absolute;
 top: 70px;
 right:95px;
}
.section2{
  display: flex;
  justify-content: center;
  justify-items: center;
  border: #ddc57d 2px solid;
  width: 250px;
  height: 250px;
  color: aliceblue;
  position: absolute;
  left: 800px;
  top: 180px;
}
.section2::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  transition: width 1s , height 1s;
  opacity: 0;
  background-color: rgb(206, 145, 65);
}
.section2:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.p2{
  text-align: center;
position: absolute;
width: 190px;
bottom: -50px;
right: 130px;
font-size: 20px;
}
.hm{
    text-align: center;
    position: absolute;
    top: 130px;
    right:  20px;
    width: 270px;
    font-size: 15px;
    text-decoration: line-through;
}
/*border4*/
.icon3{
    background-image: url(croissant2.png);
    background-size: 70px;
    background-repeat: no-repeat;
    position: absolute;
    left: 90px;
      width: 200px;
        height: 100px;
  }
  .a1{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: absolute;
   top: 70px;
   right:80px;
  }
  .border4{
    display: flex;
    justify-content: center;
    justify-items: center;
    border:  #ddc57d 2px solid;
    width: 250px;
    height: 250px;
    color: aliceblue;
    position: absolute;
    left: 500px;
    top: 450px;
    
}
.border4::after{
  content: '';
  position: absolute;
  left: 0;
 bottom: 0;
  width: 0;
  height: 0;
  transition: width 1s , height 1s;
  opacity: 0;
  background-color: rgb(206, 145, 65);
}
.border4:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.a2{
    text-align: center;
position: absolute;
width: 200px;
top: 130px;
right: 120px;
font-size: 20px;
}
.a3 h6{
    text-align: center;
    position: absolute;
   top: 135px;
   right: 10px;
    width: 270px;
    font-size: 15px;
    text-decoration: line-through;
}
/*border5*/

.icon4{
    background-image: url(iced-latte.png);
    background-size: 70px;
    background-repeat: no-repeat;
    position: absolute;
    left: 90px;
      width: 200px;
        height: 100px;
  }
  .b1{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: absolute;
   top: 70px;
   right:80px;
  }
  .border5{
    display: flex;
    justify-content: center;
    justify-items: center;
    border:  #ddc57d 2px solid;
    width: 250px;
    height: 250px;
    color: aliceblue;
    position: absolute;
    left: 200px;
    top: 450px;
    
}
.border5::after{
  content: '';
  position: absolute;
  left: 0;
 top: 0;
  width: 0;
  height: 0;
  transition: width 1s , height 1s;
  opacity: 0;
  background-color: rgb(206, 145, 65);
}
.border5:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.b2{
    text-align: center;
position: absolute;
width: 200px;
top: 130px;
right: 120px;
font-size: 20px;
}
.b3 h6{
    text-align: center;
    position: absolute;
   top: 135px;
   right: 10px;
    width: 270px;
    font-size: 15px;
    text-decoration: line-through;
}
/*border6*/
.icon5{
    background-image: url(croissant\ \(1\).png);
    background-size: 70px;
    background-repeat: no-repeat;
    position: absolute;
    left: 90px;
      width: 200px;
        height: 100px;
  }
  .c1{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: absolute;
   top: 70px;
   right:80px;
  }
  .border6{
    display: flex;
    justify-content: center;
    justify-items: center;
    border:  #ddc57d 2px solid;
    width: 250px;
    height: 250px;
    color: aliceblue;
    position: absolute;
    left: 800px;
    top: 450px;
    
}
.border6::after{
  content: '';
  position: absolute;
  left: 0;
 top: 0;
  width: 0;
  height: 0;
  transition: width 1s , height 1s;
  opacity: 0;
  background-color: rgb(206, 145, 65);
}
.border6:hover::after{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.c2{
    text-align: center;
position: absolute;
width: 200px;
top: 130px;
right: 120px;
font-size: 20px;
}
.c3 h6{
    text-align: center;
    position: absolute;
   top: 135px;
   right: 10px;
    width: 270px;
    font-size: 15px;
    text-decoration: line-through;
}