*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }
  .class2{
    background-image: url(img.jpg);
    width: 500px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 500px;
    position: absolute;
    left: 600px;
    bottom: 50px;
  }
  section{
    color:white;
    font-size: 20px;
   position: relative;
    right: 550px;
    bottom: -100px;
  }
  button{
    color: white;
    background-color: rgb(206, 145, 65);
    border-radius: 30px;
    width: 100px;
    height: 40px;
  }
  button:hover{
    background-color: #684929;
  }
  h1{
    font-size: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .logo{
    background-image: url(photo.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
      width: 100px;
        height: 70px;
  }
nav{
 
    width: 80%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: auto;
    
}
nav a {
   text-decoration: none;
   font-size: 30px;
   color:rgb(207, 172, 126);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: capitalize;
   overflow: auto;
}
a::before{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
   transition: 0.3s;
}
a:hover{
    color: #ded0c2;
   
}
.navbar-menu a {
    display: flex;
    font-size: 19px;
    color: rgba(243, 231, 215, 0.875);
    font-family: "Raleway", sans-serif;
    font-weight: 70;
    padding: 15px 17px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
  }
  .navbar-menu a:hover {
    background-color: #d1c9b0;
    color: #342908;
    cursor: pointer;
  }
  