*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
   display: flex;
    justify-content: center;
    justify-items: center;
}
h1{
    position: fixed;
    width: 200px;
    height: 400px;
   margin: auto;
   padding-top: 70px;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
    color: rgb(206, 145, 65);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 450px;
    left :600px
}
p{
    
    text-transform: capitalize;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 260px;
    left: 600px;
  
}
button{
 background-color: rgb(206, 145, 65);
 width: 100px;
 height: 30px;
    position: absolute;
    bottom: 200px;
    left: 600px;
}
button:hover{
    background-color: rgb(114, 81, 37);
}

section{
   
    background-image: url(photo3.jpg);
    width: 500px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 500px;
    position: absolute;
    left: 80px;
    bottom: 50px;

}
.logo{
    background-image: url(photo.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
      width: 100px;
        height: 70px;
  }
  .navbar{
    width: 600px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: auto;
  }
  .navbar-menu a {
    display: flex;
    font-size: 19px;
    color: rgba(243, 231, 215, 0.875);
    font-family: "Raleway", sans-serif;
    font-weight: 70;
    padding: 15px 17px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
  }
  .navbar-menu a:hover {
    background-color: #d1c9b0;
    color: #342908;
    cursor: pointer;
  }