*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    color: rgb(206, 145, 65) ;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.logo{
    background-image: url(photo.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
      width: 100px;
        height: 70px;
  }
  .navbar{
    width: 600px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: auto;
  }
  .navbar-menu a {
    display: flex;
    font-size: 19px;
    color: rgba(243, 231, 215, 0.875);
    font-family: "Raleway", sans-serif;
    font-weight: 70;
    padding: 15px 17px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
  }
  .navbar-menu a:hover {
    background-color: #d1c9b0;
    color: #342908;
    cursor: pointer;
  }
  section{
    background-image: url(img8.jpg);
    width: 500px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 500px;
    position: absolute;
    left: 80px;
    bottom: 50px;
}
h2{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 450px;
    left :850px
 
}
.input1{
    width: 390px;
    height: 40px;
    background-color: black;
    position: absolute;
    bottom: 360px;
    left: 750px;
    display: flex;
    justify-content: center;
    justify-items: center;
    border:  whitesmoke 1px solid;
    color: aliceblue;
   
}
.input2{
    width: 390px;
  height: 40px;
    background-color: black;
    position: absolute;
    bottom: 300px;
    left: 750px;
    display: flex;
    justify-content: center;
    justify-items: center;
    border:  whitesmoke 1px solid;
    color: aliceblue;
}
.input3{
  width: 390px;
  height: 40px;
    background-color: black;
    position: absolute;
    bottom: 240px;
    left: 750px;
    display: flex;
    justify-content: center;
    justify-items: center;
    border: whitesmoke 1px solid;
    color: aliceblue;
}
.input4{
    background-color:rgb(211, 168, 112) ;
    width: 130px;
    height: 20px;
    font-size: 15px;
    border: whitesmoke 1px solid;
position: absolute;
bottom: 180px;
left: 900px;
}
.input4:hover{
    width: 150px;
    height: 30px;
}